@{
    ViewBag.Title = "Hướng dẫn mua hàng";
}


<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h3><span>About our service</span></h3>
            <p>Ghi vào đây nữa.</p>
        </div>
        <div class="col-md-6">
            <h3><span>Các bước đặt hàng</span></h3>
            <div id="accordion">
                <h4>Bước 1</h4>
                <div>
                    <p>Chọn hàng...</p>
                </div>
                <h4>Bước 2</h4>
                <div>
                    <p>Đặt hàng...</p>
                </div>
                <h4>Bước 3</h4>
                <div>
                    <p>Xác nhận đơn hàng</p>
                </div>
                <h4>Bước 4</h4>
                <div>
                    <p>Chuyển khoản vào STK... Ngân hàng...</p>
                </div>
            </div>
        </div>
    </div>
</div>

