
@{
    ViewBag.Title = "Index";
}

<h1>Login</h1>
<form method="post">
    Username:<br />
    <input type="text" name="username" value="" />
    <br />
    Password:<br />
    <input type="password" name="password" value="" />
    <br />
    <input type="submit" value="Login" />
    @if (ViewData["username"] != null)
    {
        <p style="color:red">@ViewData["Message"]</p>
    }
</form>
